.button {
    border-radius: 4px;
    border: none;
    text-align: center;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
#create_btn span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

#add_btn span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #details {
    transition: all 0.1s;
    visibility: visible;
  }

  button.link { 
    background:#3f454a;
    border:none;
    color:white;
    cursor: copy;
  }

  button.link:hover  {
    background:#626b73;
    transition: all 0.3s;
  }
