.change {
    text-align: left;
    color: #e5ad54;
}

.form {
    padding: 15px;
}

h3 {
    margin-top: 0;
}

.expandable {
    background: #fff;
    overflow: hidden;
    color: #000;
    line-height: 50px;
    transition: all .5s ease-in-out;
    height: 0;
    text-align: center;
   }