.table {
    max-width: 100%;
}

th {
    text-align: center;
    font-size: 15px;
    font-family: Verdana,sans-serif;
}

td {
    text-align: center;
    color: black;
}

.t-id {
    color: black;
}