.table {
    max-width: 50%;
}

th {
    text-align: center;
    font-size: 14px;
    font-family: Verdana,sans-serif;
}

td {
    text-align: center;
    color: #7a7a7a;
}

.t-id {
    color: #7a7a7a;
}

#ledtable {
    margin-top: 20px;
    width: 100%
}

tbody {
    overflow-y:scroll;
    max-height: 100px;
}

.my-custom-scrollbar {
    height: 400px;
    overflow: auto;
    }