<!-- SPDX-License-Identifier: Apache-2.0 -->

<!DOCTYPE html>
<html>
  <head>
    <title>Hyperledger Fabric Cannabis Point-of-Sale Application</title>
    <link rel="icon" href="favicon.png" type="image/gif" />

    <!-- require jquery and bootstrap scripts -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

    <!-- adding style here -->
    <style type="text/css">
      header {
        background-color: lightgray;
        font-size: 20px;
        padding: 15px;
      }
      header,
      .form-group {
        margin-bottom: 3%;
      }
      .form-group {
        width: 50%;
      }
      #body {
        margin-left: 3%;
        margin-right: 3%;
      }
      .form-control {
        margin: 8px;
      }
      #right_header {
        width: 20%;
        font-size: 15px;
        margin-right: 0px;
      }
      #left_header {
        margin-left: 0;
        width: 40%;
        display: inline-block;
      }
      #id {
        width: 49%;
        display: inline-block;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body ng-app="application" ng-controller="appController">
    <header>
      <div id="left_header">Hyperledger Fabric Cannabis Application</div>
      <i id="right_header"
        >LedgerSafe Demo Application
        </i
      >
    </header>

    <div id="body">
      <div class="container">
      <div class ="row">
        <div class="col-md-6">
      <div class="form-group">
        <label>Query Entire Cannabis Ledger</label>
        <p>
          <input
            id="queryAllCannabis"
            type="submit"
            value="Query"
            class="btn btn-primary"
            ng-click="queryAllCannabis()"
          />
        </p>
      </div>


      <table id="all_cannabis" class="table" align="center">
        <tr>
          <th>ID</th>
          <th>Timestamp</th>
          <th>Holder</th>
          <th>Strain</th>
          <th>THC %</th>
          <th>Grower</th>
        </tr>

        <tr ng-repeat="cannabis in all_cannabis">
          <td>{{ cannabis.Key }}</td>
          <td>{{ cannabis.timestamp }}</td>
          <td>{{ cannabis.holder }}</td>
          <td>{{ cannabis.strain }}</td>
          <td>{{ cannabis.thc }}</td>
          <td>{{ cannabis.grower }}</td>
        </tr>
      </table>
    </div>
    <div class = "col-md-6">
      <div class="form-group">
        <label>Query a Specific Cannabis Product</label><br />
        <h5 style="color:red;margin-bottom:2%" id="error_query">
          Error: Please enter a valid Cannabis Id
        </h5>
        <div class = "row">
          <div class = "col">
        Enter a Cannabis ID Number:
        <input
          id="createName"
          class="form-control"
          type="text"
          placeholder="Ex: 3"
          ng-model="cannabis_id"
        />
      </div>
      <div class = "col">
        <input 
          id="querySubmit"
          type="submit"
          value="Query"
          class="btn btn-primary"
          ng-click="queryCannabis()"
        />
      </div>
      </div>
    </div>
      <table id="query_cannabis" class="table" align="center">
        <tr>
          <th>Timestamp</th>
          <th>Holder</th>
          <th>Strain</th>
          <th>THC</th>
          <th>Grower</th>
        </tr>

        <tr>
          <td>{{ query_cannabis.timestamp }}</td>
          <td>{{ query_cannabis.holder }}</td>
          <td>{{ query_cannabis.strain }}</td>
          <td>{{ query_cannabis.thc }}</td>
          <td>{{ query_cannabis.grower }}</td>
        </tr>
      </table>
    </div>
  </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Create Cannabis Record</label>
          <h5 style="color:green;margin-bottom:2%" id="success_create">
            Success! Tx ID: {{ create_cannabis }}
          </h5>
          <br />
          Enter Cannabis ID:
          <input class="form-control" type="text" placeholder="Ex: 11" ng-model="cannabis.id" />
          Enter Name of Grower:
          <input class="form-control" type="text" placeholder="Ex: 0239L" ng-model="cannabis.grower" />
          Enter Strain:
          <input id="createName" class="form-control" type="text" placeholder="Ex: 28.012" ng-model="cannabis.strain" />
          Enter THC:
          <input id="createName" class="form-control" type="text" placeholder="Ex: 150.405" ng-model="cannabis.thc" />
          Enter timestamp:
          <input class="form-control" type="text" placeholder="Ex: 4982342301" ng-model="cannabis.timestamp" />
          Enter Name of Holder:
          <input class="form-control" type="text" placeholder="Ex: Hansel" ng-model="cannabis.holder" />
          <input id="createSubmit" type="submit" value="Create" class="btn btn-primary" ng-click="recordCannabis()" />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Change Cannabis Holder</label><br />
          <h5 style="color:green;margin-bottom:2%" id="success_holder">
            Success! Tx ID: {{ change_holder }}
          </h5>
          <h5 style="color:red;margin-bottom:2%" id="error_holder">
            Error: Please enter a valid Cannabis Id
          </h5>
          Enter a Cannabis ID:
          <input class="form-control" name="assetSelect" placeholder="Ex: 1" ng-model="holder.id" />
          Enter name of new holder:
          <input class="form-control" name="assetSelect" placeholder="Ex: Barry" ng-model="holder.name" />
          <input id="transferSubmit" type="submit" value="Change" class="btn btn-primary" ng-click="changeHolder()" />
        </div>
      </div>
    </div>
  </div>
  </body>
  <!-- requiring the angular page -->
  <script type="text/javascript" src="app.js"></script>
</html>
