.App {
  text-align: center;
}

.App-header {
  background-color: #161921;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* font-size: calc(10px + 2vmin); */
  font-size: 30px;
  color: white;
  font-family: "Arial";
}

.App-link {
  color: #61dafb;
}

.subtitle {
  margin-left: 10%;
  color: #5b769b;
}

body{
  background-color: white;
}

.ui {
  text-align: left;
  padding: 15px;
}

ul{
  overflow:hidden; 
  overflow-y:scroll; 
  height:100vh;
  padding-left: 0px;
  background-color: #161921;
}

.form-control {
  color: #434b56;
  background-color: white;
}