.App {
  text-align: center;
  font-family: "Arial";
}

.App-header {
  background-color: #161921;
  min-height: 10vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* font-size: calc(10px + 2vmin); */
  font-size: 30px;
  color: white;
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

.subtitle {
  margin-left: 10%;
  color: #5b769b;
}

body{
  background-color: white;
}

.ui {
  text-align: left;
}

ul{
  overflow:hidden; 
  overflow-y:scroll;
}

#assetList {
  transition: 0.5s;
  height: 100vh;
}

.form-control {
  color: #434b56;
  background-color: white;
}

#transactionTitle {
  transition: all 0.5s;
  color: white;
  text-align: center;
}

#column {
  margin-top: 20px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#historyButton {
  position: fixed;
  top: 45%;
  z-index: 2;
  transition: all 0.3s;
}

.container-fluid {
  padding-left: 70px;
}

/* 
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
} */